.CommentItem {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.CommentItem .upper_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.CommentItem .author {
    color: #fe9323;
    font-weight: bold;
}

.CommentItem .createdAt {
    font-size: 13px;
}

.CommentItem .content {
    font-size: 18px;
}
