.page {
    padding-top: 90px;
    padding-bottom: 90px;
}

.SearchBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NoResultBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
}

.NoResultBox img {
    width: 200px;
    height: auto;
}

.NoMatching1 {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

.NoMatching2 {
    color: #a0a0a0;
    margin-top: 5px;
}
