.Recipe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Recipe .foodImg {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.Recipe .recipeCategory {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.CategoryButton {
    margin-right: 5px;
    color: white;
    background: linear-gradient(to bottom, #ffa934, #ff7b01);
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Recipe .recipeMain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.Recipe .recipeTitle {
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
}

.Recipe .heart {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Recipe .heart img {
    width: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Recipe hr {
    border: 1px solid #f3f3f3;
    width: 100%;
    margin: 30px 0;
}

.RecipeSubBox {
    width: 100%;
}

.Recipe .recipeSubTitle {
    font-weight: bold;
    font-size: 20px;
}

.Recipe .recipeSubContent {
    margin: 16px 0 0 0;
}

.ingredientsTwoSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
    gap: 20px;
}

.Recipe .ingredients {
    padding-left: 20px;
}

.Recipe .order {
    margin: 16px 10px;
    white-space: pre-wrap;
    line-height: 1.5;
}
