.SearchBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RecipeSearch2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 330px;
}

.RecipeSearchInput2 {
    width: 260px;
    height: 35px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #f5f7fa;
    margin-top: 0px;
}

.RecipeSearchInput2::placeholder {
    color: #a0a0a0;
}

.RecipeSearchInputBtn {
    outline: none;
    border-radius: 15px;
    border: none;
    background-color: #ff7a00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.RecipeSearchInputBtn img {
    width: 20px;
    height: auto;
}

.NoResultBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.NoResultBox img {
    width: 200px;
    height: auto;
}

.NoMatching1 {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

.NoMatching2 {
    color: #a0a0a0;
    margin-top: 5px;
}
